<header>
    <div class="logo">
        <p><a href="/">Inventory Store</a></p>
    </div>
    <div class="buttons">
        <button><a href="/categories">Categories</a></button>
        <button><a href="/products">Products</a></button>
    </div>
</header>