<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Categories</title>
</head>
<body>
    <div class="categories-page">
        <%- include('partials/navbar') %>
        <div class="pro">
            <button class="add"><a href="/categories/create">Add category</a></button>
            <div class="categories">
                <% categories.forEach(category => { %>
                    <div class="catergory">
                        <p><%= category.name %></p>
                        <div class="buttons">
                            <button class="delete-category">
                                <a href="/categories/edit/<%= category.id%>">Edit</a>
                            </button>
                            <button class="delete-category">
                                <a href="/categories/delete/<%= category.id%>">Delete</a>
                            </button>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</body>
</html>